{
	"useTabs": true,
	"tabWidth": 4,

	"singleQuote": false,
	"jsxSingleQuote": false,

	"semi": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",

	"printWidth": 130,

	"singleAttributePerLine": true,
	"endOfLine": "lf"
}
